*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
    list-style-type: none;
    padding: 80px 0;
    margin: 0;
}

.container {
    width: 500px;
    height: 300px;
    background-color: lightgray;
}

.element {
    width: 100px;
    height: 100px;
    background-color: rgb(69, 142, 65);
}

.container-static {
    position: static;
    padding: 20px;    
}

.static {
   margin-left: 30px;
}

.container-relative {
    position: relative;
}

.relative {
}

.container-absolute {
    position: static;
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.container-fixed {
    position: relative;
}

.fixed {
    position: fixed;
    top: 100px;
    left: 0;
}

.container-sticky {
    position: static;
    height: 1500px;
    padding: 20px;
}

.sticky {
    position: sticky;
    top: 20px;
}

/* z-index */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
    height: 700px;
    margin: 100px auto;
    padding: 80px 0;
    background-color: rgb(232, 217, 217);
    position: relative;
}

.block {
    width: 300px;
    height: 300px;
    border: 1px solid rgb(122, 118, 118);
    position: absolute;
}
.blue {
    background-color: rgb(75, 159, 228);
    top: 100px;
    left: 120px;
}
.white {
    background-color: #fff;
    right: 120px;
    top: 110px;
    z-index: 100;
}
.pink {
    background-color: #ffc0cb;
    bottom: 120px;
    left: 120px;
}
.orange {
    background-color: rgb(247, 209, 137);
    bottom: 110px;
    right: 120px;
}

/* modal */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* opacity: 0;
    pointer-events: none; */
    background-color: rgba(159, 152, 152, 0.583);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.test {
    position: absolute;
    width: 100px;
    height: 200px;
    top: 0;
    left: 0;
    background-color: aqua;
}
.visible {
    opacity: 1;
}


.content {
    background-color: #fff;
    width: 300px;
    height: 300px;
}

/* sticky */

.sticky-wrapp {
    display: flex;
    gap: 50px;
    padding: 50px;
    justify-content: center;
}

.sticky-block {
    flex-basis: 30%;
    position: relative;
}

.dot {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(239, 186, 86);
    position: sticky;
    top: 20px;
}